<app-navbar></app-navbar>
<div class="button-area">
    <span><b>Selected Language:</b> {{selectedType}}</span>
    <button mat-flat-button (click)="getRepos('Typescript')">TypeScript</button>
    <button mat-flat-button (click)="getRepos('C++')">C++</button>
    <button mat-flat-button (click)="getRepos('JavaScript')">JavaScript</button>
    <button mat-flat-button (click)="getRepos('Java')">Java</button>
</div>
<div *ngIf="repos?.length && !isLoading; else loadingState" class="wrapper">
    <div *ngFor="let repo of repos" class="user">
        <h1>#{{repos.indexOf(repo)+1}}</h1>
        <img src={{repo.avatar}}>
        <h1>@{{repo.owner}}</h1>
        <a href={{repo.repoUrl}}>
            <p>{{repo.repoUrl}}</p>
        </a>
        <h3>Number of forks: {{repo.forks}}</h3>
    </div>
</div>
<ng-template #loadingState>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>