.content-player {
    border: 1px solid lightgray;
    border-top: 30px solid lightgray;
    border-radius: 10px;
    height: 20vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 80%;
    height: 60%;
    font-size: 20px;
}

span {
    color: red;
    font-size: 18px;
}

mat-form-field {
    width: 100%;
}

.info {
    height: 60%;
    p {
        font-size: 18px;
    }
    span {
        color: black;
    }
}

img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

a {
    color: blue;
}