<div class="content">
    <div *ngIf="!show" class="content-player">
        <form [formGroup]="myForm" (ngSubmit)="onSubmitPlayer(myForm)">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Ex. DianaTerchea">
            </mat-form-field>
        </form>
    </div>
    <span *ngIf="error">There is no account with this username</span>
    <div *ngIf="show" class="info">
        <img src={{player.avatarUrl}}/>
        <h3>{{player.login}}</h3>
        <p>Followers: {{player.followers}}</p>
        <p>Repos: {{player.publicRepos}}</p>
        <p>Profile: <a href={{player.htmlUrl}}>{{player.htmlUrl}}</a></p>
    </div>
</div>