<div class="content">
    <div *ngIf="!show" class="content-player">
        <form [formGroup]="myForm" (ngSubmit)="onSubmitPlayer(myForm)">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Ex. DianaTerchea">
            </mat-form-field>
        </form>
    </div>
    <div *ngIf="show" class="info">
        <img src={{player.avatarUrl}}/>
        <p><b>{{player.login}}</b></p>
        <p><b>Followers:</b> {{player.followers}}</p>
        <p><b>Repos: </b> <span>{{player.publicRepos}}</span></p>
        <p><b>Profile: </b> <a href={{player.htmlUrl}}>{{player.htmlUrl}}</a></p>
    </div>
</div>